// ==========================================================================
// Panels
// ==========================================================================

.panel {
	@extend %center-align;
	@extend %panel-padding;
    &-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include mq(medium) {
            flex-direction: row;
        }
    }
    &-work {
        background-image: linear-gradient(-180deg, #C2D5FE 0%, #F1F6FF 100%);
        }
    &-skills {
        background-image: linear-gradient(-180deg, #F1F6FF 0%, #C2D5FE 100%);
    }
    &-contact {
        background-image: linear-gradient(-180deg, #304A96 0%, #000000 100%);
    }
}

.container {
    @include m(hero) {
        display: flex;
        flex-direction: column;
        background-image: url('../img/bg-hero.jpg');
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        width:100%;
        min-height: 525px;
         height:100%;
         &-items {
            display: flex;
            flex-direction: column;
            margin-top: auto;
         }
    }

    @include m(skills) {
        margin: 50px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        @include mq(small) {
            justify-content: space-evenly;
        }

        @include e(item) {
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & div {
                border: 5px solid $white;
                background: $white;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        & span {
            margin-top: 5px;
        }

    }

    @include m(contact) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > * {
            color: $white;
        }

    }

}

header {
    text-align: center;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio {
    max-width: 700px;
    @include mq(medium) {
        margin-left: 40px;
    }
    @include mq(large) {
        margin-left: 70px;
    }
}

.gallery-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $margin-mobile auto;
    @include mq(medium) {
        margin: $margin-tablet auto;
    }
    @include mq(large) {
        margin: $margin-desktop auto;
    }
    /* Work Gallery Items*/
    @include e(item) {
        @extend %zoom;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 360px;
        height: 350px;
        background: #000;
        margin: em(38px);
        background-position: center;
        background-size: cover;
        box-shadow: 0 3px 5px rgba(0,0,0,0.20);
        &:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,0.25);
        }

        & span {
            font-size: 1.2em;
            width: 100%;
            background: $navy;
            color: $white;
            padding: 20px 0;
        }

    }
}