// ==========================================================================
// Headlines
// ==========================================================================

.headline {

	&-primary {
		margin-bottom: em(50px);
        font-size: em(27px);
        color: #FFFFFF;
		@include mq(medium) {
            margin-bottom: em(60px);
            font-size: em(34px);
        }
        @include mq(large) {
            font-size: em(38px);
        }
	}

 	&-secondary {
		@extend %hdln-sec;
		margin-bottom: em(22px, 24px);

		@include m(grouped) {
			@extend %hdln-sec;
			margin-top: em(10px, 24px);
	 		margin-bottom: em(54px, 24px);
		}		
	}

}

.header {
    @include m(lined) {
        display: flex;
        align-items: center;
        justify-content: center;
        &:before, &:after {
            flex: 1;
            content: '';
            height: 2px;
            max-width: 260px;
            margin: 0 1.5em;
            background: rgba(48, 74, 150, 0.45);

            @include mq(small) {
                display: none;
            }

        }

        @include e(contact) {
            &:before, &:after {
                background: rgba(255, 255, 255, 0.45);
            }
        }

        & img {
            margin: 1em auto;
        }

    }
}