// ==========================================================================
// Nav
// ==========================================================================

.nav {
  @include m(main) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      &-logo {
          padding-top: 5px;
      }
      a {
        color: #FFF;
        font-size: em(16px);
        padding: em(8px) em(13px);
        margin-right: 0 em(4px);
        @include mq(medium) {
            color: #000000;
            &:hover {
                color: #5DCCEB;
            }
        }
      }
      @include mq(medium) {
          width: 75%;
          margin-top: 30px;
      }
  }
  @include m(social) {
      margin-left: auto;
      margin-top: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      a  {
          color: #000000;
          padding: em(8px) em(20px);
        }
  }

  @include m(footer) {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

.icon {
    @include m(github) {
        &:hover {
            color: #860082;
        }
    }
    @include m(linkedin) {
        &:hover {
            color: #007DB7;
        }
    }
    @include m(email) {
        &:hover {
            color: #3465C2;
        }
    }
}
